{% load i18n %}
{% load humanize %}

<legend>
  {{ list_item.name }} subscribers
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Import subscribers <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#subscriber_import_mailchimp">{% trans 'From Mailchimp CSV' %}</a></li>
            <li><a href="#" data-toggle="modal" data-target="#subscriber_import_text">{% trans 'Copy/paste email addresses' %}</a></li>
        </ul>
    </div>
</legend>
<p>
  <span class="lead">{{list_item.count_validated_subscribers|intcomma}}</span> {% trans 'subscriber' %}{{list_item.count_validated_subscribers|pluralize}}
  <br>
  <br>
  Homepage url: <a target="_blank" href="{% url 'subscriber-management-join' list_item.uuid %}">http://minimail.fullweb.io{% url 'subscriber-management-join' list_item.uuid %}</a>
</p>
