{% extends "master.html" %}
{% load i18n %}
{% load humanize %}


{% block title %}
  Analytics - {{campaign.email_list.name}} - {{campaign.email_subject}}
{% endblock %}


{% block content %}

  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 col-sm-6'>
        <h3>
          {% trans "Analytics" %} - {{campaign.email_list.name}} - {{campaign.email_subject}}
        </h3>
      </div>
    </div>
    <hr />
    <h4>{% trans "Open rate" %}:</h4>
    <ul>
        <li><string>{% trans "Unique" %}:</strong> {{ open_rate_object.unique_count }}</li>
        <li><string>{% trans "Total" %}:</strong> {{ open_rate_object.total_count }}</li>
    </ul>
    <h4>{% trans "Click rate" %}:</h4>
    <ul>
        <li><string>{% trans "Unique" %}:</strong> {{ click_rate_object.unique_count }}</li>
        <li><string>{% trans "Total" %}:</strong> {{ click_rate_object.total_count }}</li>
    </ul>
    <h4>{% trans "SES rate" %}:</h4>
    <ul>
        <li><string>{% trans "Delivery" %}:</strong> {{ ses_rate_object.delivery_count }}</li>
        <li><string>{% trans "Bounce" %}:</strong> {{ ses_rate_object.bounce_count }}</li>
        <li><string>{% trans "Complaint" %}:</strong> {{ ses_rate_object.complaint_count }}</li>
    </ul>
  </div>
{% endblock %}


{% block script %}
{% endblock %}
