{% extends "master.html" %}
{% load i18n %}

{% block content %}
<legend>{{ list.name }} subscribers</legend>
{% if not object_list %}
  <p>{% trans 'No subscribers' %}</p>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Date join' %}</th>
      <tr>
    </thead>
    <tbody>
      {% for item in  object_list %}
        <tr>
          <td>{{ item.email }}</td>
          <td>{{ item.created }}</td>
        </tr>
      {% endfor %}
    </tbody>

  <table>
{% endif %}
{% endblock %}
