{% extends "master.html" %}
{% load i18n %}

{% block content %}
<div class='container'>
  <div class='row'>
    <br />
    <br />
    <div class='col-lg-4 col-lg-offset-4'>
      <form method="post">
        {% csrf_token %}
        <div class="form-group {% if form.email.errors %}has-error{% endif %}">
          <label for="{{form.email.auto_id}}" class="control-label">{{form.email.label}}</label>
          <input id="{{form.email.auto_id}}" name="{{form.email.name}}" class='form-control' autofocus tabindex=1 value =""/>
          {% for error in form.email.errors %}
            <span class="error-block">{{error}}</span>
          {% endfor %}
        </div>
        <button class="btn btn-block btn-primary" tabindex=3>{% trans 'Send recovery email' %}</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
