{% extends "master.html" %}


{% block content %}

  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <br />
      <br />
      <p class='lead'>
        Welcome to Minimail!
      </p>
      <strong>Get started in 2 steps:</strong>
      <ol class='list-unstyled'>
        <li>
          1. Start by <a href='{% url "subscriber-management-create" %}'>creating a
          list</a>. A list is where you keep your newsletter&rsquo;s subscribers.
        </li>
        <li>
          2. You&rsquo;re now ready to send your subscribers <a href='{% url "campaign-new" %}'>a first email</a>! 👏
        </li>

      </ol>
    </div>
  </div>


{% endblock %}
