{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf8">
    <title>{% block title %}Lean Email Marketing Solution{% endblock %} &middot; Minimail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="canonical" href="http://minimail.fullweb.io">
    {% block styles %}{% endblock %}
		<style>
			.notif {
				position: fixed;
				z-index: 1000;
				right: 50%;
				top: 50px;
				transform: translateX(50%);
				box-shadow: 0 1px 1px #b3b3b3;
			}
			main {
				min-height: 65vh;
			}
			.btn, .btn-group-sm > .btn {
				border-radius: 4px;
			}
		</style>
  </head>

  <body>

    {% block header %}
    <header>
      {% include "parts/main-navigation.html" %}
    </header>
    {% endblock %}

    <main class='container-fluid'>

      {% block notifs %}
        {% if messages %}
        <div class='container'>
          <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
              {% for message in messages %}
                <p class="notif alert alert-dismissable {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ message|safe }}
                </p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      {% endblock %}

      {% block content %}
        <pre>Homepage default content. Override with {% verbatim %}{% block content %}{% endverbatim %} in your template.</pre>
      {% endblock %}

    </main>

    <footer class='container'>
      {% include "parts/footer.html" %}
    </footer>

    <script src='{% static "js/vendor/jquery-3.1.0.js" %}'></script>
    <script src='{% static "js/vendor/bootstrap.min.js" %}'></script>
		<script>

      // Disable submit buttons when submitting forms
			$(function() {
				$('form').on('submit', function(ev) {
					$(this).find('button').disabled = true;
					$(this).find('button').attr('disabled', 'disabled');
				});
			});

		  // Auto-resize textarea on input
			$('textarea[data-autoresize]').each(function() {
				var offset = this.offsetHeight - this.clientHeight;

				var resizeTextarea = function(el) {
					$(el).css('height', 'auto').css('height', el.scrollHeight + offset);
				};
				$(this).on('keyup input', function() {resizeTextarea(this);})
							 .removeAttr('data-autoresize');
			});

		</script>
    {% block script %}{% endblock %}

  </body>

</html>
