{% load i18n %}

<div id='subscriber_import_csv' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method='POST' action="{% url 'subscriber-management-list-import' list_item.uuid %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Import csv file from mailchim {{list_item.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="file_import" class="control-label">{% trans 'CSV file' %}</label>
            <input id="file_import" name="csv_file" type="file" tabindex='0' />
          </div>
        </div>
        <div class="modal-footer">
          <a href='javascript:void(0)' type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</a>
          <button type="submit" class="btn btn-primary">{% trans 'Import' %}</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
