{% extends "master.html" %}
{% load i18n %}


{% block content %}
<legend>
  {{ list_item.name }} subscribers ({{list_item.count_subscribers}})
  <a class="btn btn-primary btn-xs pull-right" href="{% url 'subscriber-management-list-import' list_item.uuid %}">{% trans 'Import CSV' %}</a>
</legend>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{% url 'subscriber-management-list-subscribers' list_item.uuid %}">{% trans 'Subscribers' %}</a></li>
  <li role="presentation"><a href="#">{% trans 'Newsletter homepage' %}</a></li>
  <li role="presentation"><a href="{% url 'subscriber-management-list-sign-up-form' list_item.uuid %}">{% trans 'Signup Form' %}</a></li>
  <li role="presentation" class="active"><a href="{% url 'subscriber-management-list-settings' list_item.uuid %}">{% trans 'Settings' %}</a></li>
</ul>
<br>
<form method="POST" class="form-inline">
    {% csrf_token %}
  <div class="form-group">
    <label for="{{form_object.name.auto_id}}">List name</label>
    <input type="text" class="form-control" name="{{form_object.name.name}}" id="{{form_object.name.auto_id}}" placeholder="" value="{{form_object.name.value}}">
  </div>
  <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
</form>
{% for error in form_object.name.errors %}
  <span class="error-block text-danger">{{error}}</span>
{% endfor %}
{% endblock %}
