{% extends "master.html" %}
{% load i18n %}


{% block title %}
  Subscribers
{% endblock %}


{% block content %}

  <div class='row'>
    <div class='col-lg-6 col-sm-6'>
      <h3>
        {% trans "Subscriber Lists" %}
      </h3>
    </div>
    <div class='col-lg-6 col-sm-6 text-right'>
      <br />
      <a class='btn btn-default' href='{% url "subscriber-management-create" %}'>{% trans 'Create a new list' %}</a>
    </div>
  </div>

  <hr />

  {% for item in  object_list %}
    <div class="list-group">
      <a href="{% url 'subscriber-management-list-subscribers' item.uuid %}" class="list-group-item">
        <h4 class='list-group-item-heading'>{{ item.name }}</h4>
        <p class="list-group-item-text">
          <span class="badge right">{%trans 'Subscribers' %}: {{ item.count_susbscribers }}</span>
          <br />
          <small class='text-muted'>created: {{ item.created }}</small>
        </p>
      </a>
      <p style="margin-top:5px;" class="text-right">
        <a class="btn btn-primary right btn-sm" href="{% url 'subscriber-management-list-update' item.id %}">
          {% trans 'Update' %}
        </a>
        <button data-delete-url="{% url 'subscriber-management-list-delete' item.uuid %}" data-title="{{item.title}}" class="btn btn-danger btn-sm right" data-toggle="modal" data-target="#list-delete-confirmation">
          {% trans 'Delete' %}
        </button>
      </p>
    </div>
  {% empty %}
    <div class='alert alert-warning'>
      No list created yet.
      <a href="{% url 'subscriber-management-new' %}">Go create one &raquo;</a>
    </div>
  {% endfor %}

  <!-- Modal for delete deletion confirmation -->
  <div id='list-delete-confirmation' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method='post' action='/'>
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Please confirm subscriber list deletion</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Are you sure you can to delete this subscriber list?</strong>
            </p>
            <ul>
              <li>All the information about your subscribers will be lost forever.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href='javascript:void(0)' type="button" class="btn btn-default" data-dismiss="modal">No, keep it</a>
            <a type="button" class="btn btn-danger" href="#" id="confirm_delete_list_button">Yes, delete it</a>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}


{% block script %}
    <script>
    $('[data-delete-url]').click(function() {
      $('#confirm_delete_list_button').attr('href', $(this).data('delete-url'))
    })
    </script>
{% endblock %}
