{% extends "master.html" %}
{% load i18n %}
{% load humanize %}


{% block content %}

  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        {% include 'parts/list_header.html' %}
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{% url 'subscriber-management-list-subscribers' list_item.uuid %}">{% trans 'Subscribers' %}</a></li>
          <li role="presentation"><a href="{% url 'subscriber-management-list-newsletter-homepage' list_item.uuid %}">{% trans 'Newsletter homepage' %}</a></li>
          <li role="presentation"><a href="{% url 'subscriber-management-list-sign-up-form' list_item.uuid %}">{% trans 'Signup form' %}</a></li>
          <li role="presentation" class="active"><a href="{% url 'subscriber-management-list-settings' list_item.uuid %}">{% trans 'Settings' %}</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3'>

        <form method="post" class="">
					{% csrf_token %}
					<br>
					<h4>UTM Settings <small><a href='https://blog.bufferapp.com/utm-guide' target='_blank'>what is this?</a></small></h4>
							<div class="form-group">
								<label for="{{form_object.utm_medium.auto_id}}" class="control-label">UTM medium</label>
								<input id="{{form_object.utm_medium.auto_id}}" name="{{form_object.utm_medium.name}}" class='form-control' tabindex='0' value ="{{form_object.utm_medium.value | default_if_none:""}}"/>
								{% for error in form_object.utm_medium.errors %}
									<span class="error-block">{{error}}</span>
								{% endfor %}
								<small class='help-block'>
									The <code>utm_medium</code> indicates how is the traffic coming
									to the destination page. Ex: <code>email</code>
								</small>
							</div>
							<div class="form-group">
								<label for="{{form_object.utm_source.auto_id}}" class="control-label">UTM source</label>
								<input id="{{form_object.utm_source.auto_id}}" name="{{form_object.utm_source.name}}" class='form-control' tabindex='0' value ="{{form_object.utm_source.value | default_if_none:""}}" />
								{% for error in form_object.utm_source.errors %}
									<span class="error-block">{{error}}</span>
								{% endfor %}
								<small class='help-block'>
									The <code>utm_source</code> indicates where the traffic is coming from. Ex: <code>{{ form_object.utm_source.value|default:"newsletter" }}</code> (your newsletter title)
								</small>
							</div>
						<button type="submit" class="btn btn-success">{% trans 'Update UTM settings' %}</button>
						<br />
						<br />
						<div class='alert alert-info'>
							The other UTM settings, <code>utm_campaign</code> and <code>utm_content</code> are relative to the email you send.
							You can set them when preparing your email, at the review step.
						</div>
					<br />
					<hr>
					<h4>List Name</h4>
					<div class="form-group {% if form_object.name.errors %}has-error{% endif %}">
						<label for="{{form_object.name.auto_id}}" class="control-label">{% trans 'Rename this list' %}</label>
						<input id="{{form_object.name.auto_id}}" name="{{form_object.name.name}}" class='form-control' tabindex='0' value ="{{form_object.name.value | default_if_none:""}}" required />
						{% for error in form_object.name.errors %}
							<span class="error-block">{{error}}</span>
						{% endfor %}
						<small class='text-muted'>
							This name is only visible to you. Go to your <a href='{% url 'subscriber-management-list-newsletter-homepage' list_item.uuid  %}'>newsletter homepage</a> for public settings.
						</small>
					</div>
						<button type="submit" class="btn btn-success">{% trans 'Rename list' %}</button>
					<br />
					<br />
					<hr>
					<h4>List Language</h4>
					{% csrf_token %}
					<div class="form-group {% if form_object.language.errors %}has-error{% endif %}">
						<label for="{{form_object.language.auto_id}}"
							class="control-label">{% trans 'In what language will you write your emails?' %}</label>
						<select id="{{form_object.language.auto_id}}" name="{{form_object.language.name}}" class='form-control' tabindex='4'>
						{% for short_lang, lang in form_object.language.field.choices %}
							{% if forloop.counter0 == 6 %}
							<option disabled></option>
							{% elif forloop.counter0 > 0 %}
							<option value="{{short_lang}}" {% if short_lang == list_item.language %}selected{% endif %}> {{lang}} </option>
							{% endif %}
						{% endfor %}
						</select>
						{% for error in form_object.language.errors %}
							<span class="error-block">{{error}}</span>
							<br />
						{% endfor %}
					</div>
					<button type="submit" class="btn btn-success">{% trans 'Update language' %}</button>
        </form>

        <br />
        <hr>
				<h4>Sender Email</h4>
				<div class="form-group">
					<label for="" class="control-label">{% trans 'From email' %}</label>
					<p>
						{% if list_item.from_email %}
							{{list_item.from_email}}
							<br />
							{% if list_item.from_email_verified %}
								<span class='label label-success'>Verified</span>
								{% else %}
								<span class='label label-danger'>Not verified yet</span>
								<a href='mailto:julien@nepsilon.net?subject=Minimail - Please verify this email address'>Contact us</a> to verify your sender email.
							{% endif %}
						{% else %}
							<div class='alert-warning alert' style='margin-bottom: 0'>
								No email verified yet.
								<a href='mailto:julien@nepsilon.net?subject=Minimail - Please verify this email address'>Contact us</a> to verify your sender email.
							</div>
						{% endif %}
					</p>
					<small class='help-block'>The email address your recipients will see in the <code>From:</code> field.</small>
				</div>
        <br />
        <hr>
				<h4>Danger Zone</h4>
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#subscriber_list_delete_confirmation">
          {% if list_item.count_validated_subscribers %}
            {% trans 'Delete this list' %}
            ({{list_item.count_validated_subscribers|intcomma}} {% trans 'subscriber' %}{{item.count_validated_subscribers|pluralize}})
          {% else %}
            {% trans 'Delete this list' %}
          {% endif %}
        </a>
      </div>
    </div>
  </div>


  <div id='subscriber_list_delete_confirmation' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method='post' action="{% url 'subscriber-management-list-delete' list_item.uuid %}">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">WARNING: You are about to delete this list</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Are you sure you want to delete the list "{{list_item.name}}"?</strong>
            </p>
            <ul>
              <li>{{list_item.count_validated_subscribers|intcomma}} {% trans 'subscribers will be deleted forever' %}.</li>
            </ul>
            <ul>
              <li>This newsletter list won't be able to accept any new subscribers.</li>
            </ul>
            <ul>
              <li>All sign-up form integrations (if any) will stop working.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <a href='javascript:void(0)' type="button" class="btn btn-default" data-dismiss="modal">No, keep it</a>
            <button type="submit" class="btn btn-danger">Yes, delete it</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  {% include 'import.html' %}
{% endblock %}
