{% extends "master.html" %}
{% load i18n %}

{% block header %}
{% endblock %}

{% block content %}
<form method="POST">
  <legend>Subcribe to {{list_item.title}}</legend>
  {% if list_item.description %}
    <p class="">{{list_item.description}}</p>
  {% endif %}
  {% if list_item.image %}
    <img src="{{list_item.image}}"/>
  {% endif %}
  {% for input in form %}
    {% if input.name != 'timezone' %}
      <div class="form-group">
        <label for="{{input.name}}">{{input.label}}</label>
        {{input}}
        {% for error in input.errors %}
          <br>
          <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
      </div>
    {% else %}
    <input id="id_timezone" name="timezone" type="hidden">
    {% endif %}
  {% endfor %}
  {% if duplicate_error %}
    <div class="alert alert-danger" role="alert">{{duplicate_error}}</div>
  {% endif %}
  <div style="position: absolute; left: -5000px;">
        <input type="text" name="{{list_item.signup_token}}" tabindex="-1" value="">
  </div>
  <button class="btn btn-primary">{% trans 'Subscribe' %}</button>
</form>
<script>
var tz = new Date().getTimezoneOffset()/60*-1;
document.getElementById('id_timezone').value = tz
</script>
{% endblock %}
