{% extends 'master.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
<legend>
  {{ list_item.name }} subscribers ({{list_item.count_subscribers}})
  <a class="btn btn-primary btn-xs pull-right" href="{% url 'subscriber-management-list-import' list_item.uuid %}">{% trans 'Import CSV' %}</a>
</legend>

<ul class="nav nav-tabs">
  <li role="presentation" ><a href="{% url 'subscriber-management-list-subscribers' list_item.uuid %}">{% trans 'Subscribers' %}</a></li>
  <li role="presentation"><a href="">{% trans 'Newsletter homepage' %}</a></li>
  <li role="presentation" class="active"><a href="#">{% trans 'Signup Form' %}</a></li>
  <li role="presentation"><a href="{% url 'subscriber-management-list-settings' list_item.uuid %}">{% trans 'Settings' %}</a></li>
</ul>
<br>
<form>
  <div class="form-group">
    <textarea rows="10" class="form-control" id="signup_form_snippet">
      <form method="POST" action="//minimail.fullweb.io/{{list_item.uuid}}/join">
        <label for="email">Email</label>
        <input name="email" id="email" type="text" tabindex="1" value=""/>
        <div style="position: absolute; left: -5000px;">
              <input type="text" name="{{list_item.signup_token}}" tabindex="-1" value="">
        </div>
        <button type="submit" tabindex="2">{% trans 'Signup' %}</button>
      </form>
    </textarea>
  </div>
</form>
<button class="btn btn-primary copy_button" name="copy" data-clipboard-target="#signup_form_snippet">{% trans 'Copy' %}</button>
{% endblock %}

{% block script %}
<script src="{% static 'js/vendor/clipboard.min.js' %}"></script>
<script>
  var clipboard = new Clipboard('.copy_button');
</script>
{% endblock %}
