{% extends 'master.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}


{% block title %}
  {% trans 'All Emails' %}
{% endblock %}


{% block styles %}
	<style>
	  .stat-block {
			display: inline-block;
			min-width: 75px;
			max-width: 125px;
	    margin-right: 2rem;
			text-align: left;
		}
			.stat-label {
				width: 100%;
				font-weight: 300;
				display: block;
				text-transform: lowercase;
				font-variant: small-caps;
			}
			.stat-count {
				display: block;
				width: 100%;
			}
	</style>
{% endblock %}


{% block content %}

	<br />

  <div class='container'>

    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-sm-12'>
        <h3>
          {% trans "All Emails" %}
					&nbsp;&nbsp;
					{% if user.has_a_verified_email and user.has_a_verified_dns_settings %}
						<a class='btn btn-default' href='{% url "campaign-new" %}'> {% trans 'Compose email' %}</a>
					{% endif %}
        </h3>
      </div>
    </div>

    <br />

    <div class='row'>
      <div class='col-lg-12'>

          {% for campaign in all_campaigns %}
						<div class='row' style='margin-bottom:3rem'>
								<div class='col-lg-1 text-right'>
									{% if campaign.is_sent %}
										<span class='alert-success' title='Sent the {{campaign.sent|date:"D d M Y \a\t H:m "}}'>&thinsp;SENT&thinsp;</span>
									{% else %}
										<span class='alert-warning' title='Last edited {{campaign.edited|timesince}} ago'>&thinsp;DRAFT&thinsp;</span>
									{% endif %}
								</small>
								</div>

								<div class='col-lg-2'>
									<a href="{% url 'campaign-detail' campaign.id %}" >
										<div class='preview' style='position: relative; min-height: 200px; height:auto; background: #fff; overflow: hidden; box-shadow: 0 1px 1px #9a9a9a'>
											<iframe onload='this.style.opacity=1' style='opacity: 0;
												transition: opacity .185s ease-out;border: 0; position:
												absolute; top: 0; bottom: 0; left: 0; right: 0; z-index:
												10; transform: scale(0.40); transform-origin: 0 0;
												height: 250%; width: 250%;' src='{% url "campaign-email-preview" campaign.id  %}'></iframe>
											<div class='cover' style='position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 100;'></div>
										</div>
									</a>
								</div>

								<div class='col-lg-6'>
									<h4 style='margin-top: 0;font-weight:700'>
										<a href="{% url 'campaign-detail' campaign.id %}">
											{{ campaign.email_subject }}
										</a>
									</h4>
									<p>
										<strong>From:</strong> {{ campaign.email_from_name }} &lt;{{ campaign.email_from_email }}&gt;
										<br />
										<strong>To list:</strong> {{ campaign.email_list }}
										<br />
										<strong>Reply-To:</strong> {{ campaign.email_reply_to_email}}
									</p>
									{% if campaign.is_sent %}
										<div style='position:relative'>
											<span class='stat-block'>
												<span class='stat-count'>{{ campaign.recipient_count|default:"N/A" }}</span>
												<span class='stat-label'>Sent</span>
											</span>
											<span class='stat-block'>
												<span class='stat-count' >{{ campaign.open_rate|default_if_none:"N/A" }}</span>
												<span class='stat-label' >Opens</span>
											</span>
											<span class='stat-block'>
												<span class='stat-count' >{{ campaign.click_rate|default_if_none:"N/A" }}</span>
												<span class='stat-label'>Clicks</span>
											</span>
											<span class='stat-block'>
												<span class='stat-count' >{{ campaign.unsubscribe_count|default:"0" }}</span>
												<span class='stat-label'>Unsubscribes</span>
											</span>
										</div>
										<div style='margin-top: 2rem;' >
											<a class='btn btn-default btn-sm' href='{% url "analytics-management-campaign" campaign.email_list.uuid campaign.uuid %}'>
												View analytics report &raquo;
											</a>
										</div>
									{% else %}
										<div style='margin-top: 2rem;' >
											<a class='btn btn-default btn-sm' href='{% url "campaign-update" campaign.id %}'>
												Resume composing &raquo;
											</a>
										</div>
									{% endif %}
								</div>
							</a>
						</div>

          {% empty %}

						<div class='row' style='margin-bottom:3rem'>
							<div class='col-lg-8 col-lg-offset-2'>
								<div class='alert alert-warning'>
									No email composed yet.
									<a href="{% url 'campaign-new' %}">Go compose one &raquo;</a>
								</div>
							</div>
						</div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>


{% endblock %}
