{% extends 'master.html' %}
{% load staticfiles %}
{% load i18n %}


{% block title %}
  {% trans "Composing email" %} "{{campaign.email_subject}}"
{% endblock %}

{% block content %}

  <div id='wrap' style='position: fixed; width: 100%; z-index: 100; right: 0; background: #FFF; top: 0; bottom: 0;'>

    <div class='row'>

				<form method='post' novalidate id='email-form'>
					{% csrf_token %}
					<div style='position: fixed; max-width: 50%; width: 590px; left: 50%;
					overflow: scroll; transform: translateX(-102%); top: 0; bottom: 0;background: #fff;'>

						<div style=' padding: 1rem 7rem 0;'>
							<h3>Compose Email</h3>
							{% for target, attrs in template.placeholders.items %}
								<div class='form-group'>
									<label for='input-{{forloop.counter0}}'>{{attrs.label|default:"Input"}}:</label>
									<a href='#' class='markdown-switch'>
										<img src='{% static "/img/markdown-mark-solid.svg" %}'
												 height='13'
												 class='markdown-on'
												 title='Markdown is ON'
												 style='float: right; line-height: 12; margin-top: 8px; margin-right: 2px; opacity: .5;'/>
										<img src='{% static "/img/markdown-mark.svg" %}'
												 height='13'
												 class='markdown-off'
												 title='Markdown is OFF'
												 style='float: right; line-height: 12; margin-top: 8px; margin-right: 2px; opacity: .5;display:none;'/>
									</a>
									<textarea
										{% if forloop.counter0 == 0 %} autofocus {% endif %}
										tabindex='{{ forloop.counter }}'
										class='form-control'
										rows='{{attrs.rows|default:"1"}}'
										style='resize:vertical;'
										id='input-{{forloop.counter0}}'
										data-target='{{target}}'
										data-autoresize
										data-markdown='on'>{{attrs.value|default:""}}</textarea>
								</div>
							{% empty %}
								<br />
							  <p class='alert alert-warning'>
								  This template does not have any placeholder. Its content
									cannot be edited.
									<br />
									<br />
									Use the placeholder tab when creating or editing a template
									to specify what part of the template can be edited.
								</p>
							{% endfor %}
							<input id="html_email" type='hidden' name='html_email' value='{{campaign.html_email_for_sending}}' />
							<input id="placeholders_value" type='hidden' name='placeholders_value' value='{{campaign.placeholders_value}}' />

							<div class='bottom-bar' style=' padding: 2rem 0;
								width: 100%; max-width: 580px;
								padding: 2rem 0; border-top: 1px solid #d2d2d2; background: #fff;
								max-height: 75px; margin: 4rem 0 2rem'>
								<button class='btn btn-success pull-right' tabindex='{{template.placeholders|length}}'>Next: <strong>Review email</strong> &raquo;</button>
								<button class='btn btn-default' style='margin-right:5px'>Save draft and exit</button>
							</div>

						</div>

					</div>
				</form>

        <!--  HTML Preview and Text email -->
        <div style='position: fixed; width: 59%; width: calc(55% - 15px);
				border-left: 1px dashed #d2d2d2;
				background: #f3f3f3; z-index: 100; right: 0; top: 0; bottom: 0; text-align: center'>

					<div class='toolbar' style='position: absolute; top: 16px; left: 50%; transform: translateX(-50%)'>
						<div class="btn-group btn-group-sm" role="group" aria-label="Preview Size">
							<button type="button" data-size='1000x768' class="btn btn-default active btn-resize-preview">Desktop</button>
							<button type="button" data-size='360x570' class="btn btn-default btn-resize-preview">Mobile</button>
						</div>
            <button type="button" class="btn btn-default btn-sm"
							data-toggle='modal' data-target='#send-test-email-modal'>
							Send a test email&hellip;
						</button>
          </div>

          <iframe
           onload='form2preview()'
					 id='id_html_email_preview'
					 tabindex="-1"
					 style='border: 0;box-shadow: 0 1px 3px #9a9a9a; transition: height 0.25s ease-in-out, width 0.25s ease-in-out; background: #fff; position: absolute; left: 50%; right: 16px; top: 64px; bottom: 32px;
			max-height: calc(100% - 48px - 32px); height: calc(100% - 48px - 32px);
			max-width: 90%; width: 90%;
			resize: both;
			overflow: auto;
			transform: translateX(-50%)'
					{% if campaign.is_composed %}
					 src='{% url "campaign-email-preview" campaign.id %}'>
					 {% else %}
					 src='{% url "template-preview" template.id %}'>
					 {% endif %}
					</iframe>
        </div>

    </div>
  </div>

	{% include 'parts/send-test-email-modal.html' %}

{% endblock %}


{% block script %}
	<script src='{% static "js/vendor/highlight.min.js" %}'></script>
	<script src='{% static "js/vendor/marked.min.js" %}'></script>
	<script>

		// form2json
		var form2json = function(sel) {
			var els = $(sel);
			var out = {};
			for(var i= 0; i < els.length; i++) {
				out[$(els[i]).attr('data-target')] = els[i].value;
			}
			return JSON.stringify(out);
		};

	  // Marked custom renderer and options
		var customRenderer = new marked.Renderer();
		customRenderer.link = function(href, title, text) {
			return "<a href='" + href + "' target='_blank' title='" + title + "'>" + text + "</a>";
		};
		customRenderer.paragraph = function(text) {
			return '<p>'+text+'</p>';
		};
		var marked_opts = {renderer: customRenderer,
											 gfm: true,
											 smartypants: true,
											 breaks: true,
											 highlight: function (code, lang) {
												 return hljs.highlightAuto(code).value;
											 }};


	  // Function to update email preview
		var form2preview = function(ev) {

			// If no event, do it on all textareas in the form
			var all_textarea = [];
			if (!ev || !ev.currentTarget) {
				all_textarea = $('form#email-form').find('textarea');
			}
			else {
				all_textarea = [ev.currentTarget];
			}

			$(all_textarea).each( function(i, curr_el) {

				var input = output = curr_el.value || "";

				var previewFrame = document.getElementById('id_html_email_preview');
				var preview =  previewFrame.contentDocument || previewFrame.contentWindow.document;

				var target_el = preview.querySelector(curr_el.getAttribute('data-target'));
				if (!target_el) {
					console.error('can\'t find target_el:', curr_el.getAttribute('data-target'))
					// Only show error if the user is inputing something
					if (ev && ev.currentTarget) {
						alert("Sorry, unable to update the email preview at the moment.")
					}
					return; // Continue to the next element in the collection
				}

				if (curr_el.getAttribute('data-markdown') === 'on') {
					output = marked(input, marked_opts);
				}

				target_el.innerHTML = output;

				// Keep html email result in "#html_email"
				var email_keeper = document.getElementById('html_email');
				email_keeper.value = serializer.serializeToString(preview);

				// Save placeholders value
				var ph_keeper = document.getElementById('placeholders_value');
				ph_keeper.value = form2json('form#email-form textarea[data-target]');

			});

		};

		// On DOM ready
		$(function() {

			// Global serializer used for reading iframe HTML content
			serializer = new XMLSerializer();

			// Cache compose email form element
			var $email_form = $('form#email-form');

			// Prevent return key form submission
			$email_form.on('keypress', 'input, select', function(ev) {
				return ev.keyCode != 13;
			});

			// Listening on form input elements and inject in preview frame
			$email_form.on('input', 'textarea', form2preview);

			// Resize HTML Preview buttons
			$('.btn-resize-preview').on('click', function (ev) {
				if (this.classList.contains('active')) {
					ev.preventDefault()
					this.blur()
					return false;
				}
				$('.btn-resize-preview').toggleClass('active');
				var size = $(this).data('size').split('x');
				$('#id_html_email_preview').css('width', size[0]+'px')
				$('#id_html_email_preview').css('height', size[1]+'px')
				$(this).blur()
			});

			// Enable or disable markdown in each textarea
			$('.markdown-switch').on('click', function (ev) {
			  // Update UI
			  $(this).find('.markdown-on').toggle()
			  $(this).find('.markdown-off').toggle()
				// Get current state
				var new_state = 'off';
				new_state = $(this).find('img:visible').attr('class') == 'markdown-on' ?  'on' : 'off';
				// Save state
				$textarea = $(this).closest('.form-group').find('textarea')
				$textarea.attr('data-markdown', new_state)
				// Update preview, by triggering an input event on the textarea
				$textarea.trigger('input');
			});

			// Modal for sending a test email
			$('#btn-send-test-email').on('click', function(ev) {
				ev.preventDefault();
				$(this).attr('disabled', 'disabled');
				// First submiting email form the save the latest edit
				var email_form_data =$('form#email-form').serialize()
				$.post('{% url "campaign-compose-email" campaign.id %}', email_form_data)
							// Then submit for sending test email
							.done(function(data) { $('#test-email-form').submit() });
			});

		});

	</script>
{% endblock %}
