{% load i18n %}
<nav class="navbar navbar-default">

  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Minimail</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li><a href="/campaigns">{% trans "Campaigns" %}</a></li>
        <li><a href="/subscribers">{% trans "Subscribers" %}</a></li>
        <li><a href="/templates">{% trans "Templates" %}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/me"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="http://placehold.it/20x20" data-email="{{user.email}}" id="gravatar_picture" class="img-circle special-img" style="float:left; margin-right: 5px; margin-top:-5px"> {{ user.email }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'user_account' %}">{% trans "Account" %}</a></li>
            <li><a href="#">{% trans "Settings" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/accounts/logout">{% trans "Log Out" %}</a></li>
          </ul>
        </li>
      </ul>
    {% else %}
      <div class="nav navbar-nav navbar-right">
        <a class='btn btn-default navbar-btn' href="/accounts/login">{% trans "Log In" %}</a>
      </div>
    {% endif %}

  </div><!-- close .container -->

</nav>
